/*
  nav.css:
Stylesheet for the position of the tag in the header.

Few colors or box-shadow are in this stylesheet because they are the same in light and dark theme.
*/

@media screen and (min-width: 1280px) {

  /*Style of the buttons*/
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 300px;
    padding: 0px;
    height: 65px;
  }

  nav ul li {
    padding: 16px 23px;
  }

  nav ul a {
    text-decoration: none;
    font-family: "Avenir-Next-Condensed", Verdana, sans-serif;
    font-size: 25px;
  }

  nav ul li.active {
    cursor: default;
  }
}
