@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/AvenirLTSd-Book.otf') format("otf");
}
@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('../fonts/AvenirNextCondensed-Regular.ttf') format("truetype");
}

nav
{
  font-family: "Avenir Next Condensed", Verdana, sans-serif;
  display: flex;
  align-items: center;
  height: 100px;
  max-width: 1134px;
  padding-left: 408px;
  padding-right: 408px;
}

nav #links
{
  display: flex;
  width: 1134px;
  justify-content: space-between;
  align-items: center;
}

nav a
{
  text-decoration: none;
  font-size: 40px;
  height: 55px;
  padding: 23px 30px 22px 30px;
}

nav a:hover
{
  background-color: rgba(49, 49, 49, 0.05);
}
