@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirLTSd-Book.otf') format("otf");
}
@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('../fonts/AvenirNextCondensed-Regular.ttf') format("truetype");
}
